/*                  ReporterGUI Web Interface                    */
/*                      2015 - itpao25                           */
/*      La notte e' solo la fine del giorno, seriously?          */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Exo);

* {
  outline: none !important;
}
*:focus {
  outline: none !important;
}
body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif!important;
  background-color: #F5F5F5;
}
div.header {
  height: 115px;
  position: relative;
  background-image: url("../img/background_login.png");
  background-repeat: repeat;
}
div.navbar {
  display: block;
  width: 100%;
  height: 53px;
  box-shadow: 0px -15px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px 0px 2px rgba(0, 0, 0, 0.8);
  background: #2E2E2E none repeat scroll 0% 0%;
}
div.navbar nav > a {
  padding: 15px;
  text-decoration: none !important;
  outline: 0px !important;
  color: #fff;
  display: block;
  float: left;
}
div.navbar nav > a.menu-right {
  float: right;
}
div.navbar nav > a.active {
  font-weight: bold;
}
.logo {
  float: left;
  max-width: 310px;
}
.logo > a > img {
  width: 100%;
  padding-top: 6px;
}
.avatar-menu {
  width: 35px;
  margin: -10px 5px -10px -10px;
  display: inline-block;
  border-radius: 1px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
}
.container-principale {
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
div.left {
  float: left;
}
div.right {
  float: right;
}
div.clear {
  clear: both;
}
footer {
  width: 100%;
  color: #fff;
  box-shadow: 0px -15px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px 0px 2px rgba(0, 0, 0, 0.8);
  background: #2E2E2E none repeat scroll 0% 0%;
  height: 50px;
}
.container-footer {
  padding: 15px;
}
.container-footer div.left {
  font-weight: bold;
}

/* Gestione pagina dashboard */
.home-titlepage {
  border-bottom: 1px dashed #808080;
}
.home-titlepage span {
  float: right;
  font-size: 14px;
  line-height: 45px;
}
.home-titlepage span a {
  text-decoration: none !important;
  color: #333;
}
.home-titlepage span a:hover {
  color: #000;
}
div.list-server-dash {
  display: block;
  overflow: hidden;
}
div.list-server-dash > div.container-list-server {
  float: left;
  width: 33%;
  display: block;
  min-height: 160px;
  border-radius: 3px;
}
.list-server-dash .list-server-dash_name {
  margin: 3px 0px 10px;
  padding: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  height: 420px;
  border-left: 1px solid #E0E0E0;
}
.list-server-dash_name h3 {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.list-server-dash_name h3 a {
  color: #333;
}
span.edit-serverlist-dash {
  float: right;
  cursor: pointer;
}
.list-server-dash .lastreport-serverlist-dash {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.list-server-dash .lastreport-serverlist-dash > li {
  width: 100%;
  display: block;
  float: left;
  height: 45px;
  cursor: pointer;
  position: relative;
}
.list-server-dash .lastreport-serverlist-dash > li a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #000 !important;
}
.list-server-dash .lastreport-serverlist-dash > li:hover .avatar-reported-dash img {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.list-server-dash .lastreport-serverlist-dash > li .avatar-reported-dash {
  float: left;
  max-width: 40px;
}
.list-server-dash .lastreport-serverlist-dash > li .avatar-reported-dash img {
  max-width: 40px;
}
.list-server-dash .lastreport-serverlist-dash > li .nickname-reported-dash {
  float: left;
  padding-left: 10px;
  line-height: 33px;
  font-size: 21px;
}
.button-primario {
  padding: 8px 12px;
  border: 2px solid #F44A4A;
  border-radius: 2px;
  cursor: pointer;
  background-color: #FA4F4F;
  color: #fff;
  transition: all 0.15s ease-in-out 0s;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.55);
}
.button-primario:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
}
button.right {
  float: right;
}
.link_clear {
  color: #000 !important;
  text-decoration: none !important;
}
.row {
  overflow: hidden;
}
.row .box_cont {
  margin: 0px 10px 10px 10px;
}
.row > div.colonna_50 {
  width: 50%;
  float: left;
}

/* Box */

.box-informazioni {
  border-left: 2px solid #FA4F4F;
  background-color: #EAE8E8;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #878585;
}
.box-informazioni-green {
  border-left: 2px solid #2FB455;
  background-color: #EAE8E8;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #878585;
}
.box-informazioni h2, .box-informazioni-green h2 {
  margin: 0px;
}

/* Message box */

div.messaggio-success {
  padding: 5px;
  margin-top: 5px;
  background-color: #18BF1B;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
  border: 1px solid #0CA80F;
}
div.messaggio-errore {
  padding: 5px;
  margin-top: 5px;
  background-color: rgb(244, 86, 86);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.21);
  border: 1px solid #E44E4E;
}
div.messaggio-errore a {
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}
/* Add server css */

form input[type="text"], form input[type="password"] {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form select {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form input[type="text"]:focus, form input[type="password"]:focus {
  box-shadow: 0 0 5px #999999!important;
  border-color: #999999!important;
}
form.add-server input[type="submit"], form.add-user input[type="submit"] {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid #428bca;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #428bca;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #fff;
}
form#add-user input {
  margin-bottom: 3px;
}
#messaggio-add {
  display: none;
  margin-bottom: 10px;
}
table {
  border-spacing: 0px;
  border: 2px solid #DDD;
}
thead {
  background-color: #F9F9F9;
}
thead td {
  padding: 10px 5px;
  border-bottom: 2px solid #DDD;
}
tbody td {
  padding: 10px 5px;
}
tbody tr:hover {
  background-color: #F9F8F8;
}
tbody td.bordato {
  border-bottom: 2px solid #DDD;
  padding: 5px 5px;
}
tr.list-server-table {
  cursor: pointer;
}
h2.h2-head {
  border-bottom: 1px solid #E6E6E6;;
}
.container-nav {
  background-color: #F5F5F5;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.title-list-reports {
  float: right;
  color: #333 !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.filter-reports-list {
  border-left: 2px solid #2FB455;
  background-color: #F1F1F1;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #878585;
  padding: 10px;
  height: 200px;
}
.filter-reports-list h4 {
  margin: 0px;
  color: #006400;
}

.filter-reports-list span {
  margin-top: 10px;
}
.filter-reports-list form {
  height: 130px;
}
.filter-reports-list .select-filter {
  width: 250px;
  float: left;
  margin-left: 15px;
  color: #006400;
}
.filter-reports-list input[type="submit"] {
  float: right;
  margin-top: 10px;
  padding: 8px 12px;
  border: 1px solid #50C24E;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #90EE90;
  cursor: pointer;
  color: #006400;
  transition: box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px;
  height: 45px;
}
.filter-reports-list input[type="submit"]:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
}
.navigationbar > a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 4px;
  border: solid 1px #c0c0c0;
  background: #e9e9e9;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
.navigationbar > a.active {
  font-weight: bold;
}
p.impostazioni-utente-titolo {
  border-bottom: none;
}
.impostazioni-utente-titolo {
  border-bottom: 1px solid #E6E6E6;
  color: #333 !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
input.impostazioni-utente-salva {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #50C24E;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #90EE90;
  cursor: pointer;
  color: #006400;
  transition: box-shadow 0.15s ease-in-out 0s;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px;
}
/* Edit report */
.edit-report-contain {
  text-align: right;
  display: block;
  height: 33px;
  background-color: #F5F5F5;
  padding: 10px;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.bottone-delete {
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 4px;
  border: 1px solid #C0C0C0;
  background: #E9E9E9 none repeat scroll 0% 0%;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8) inset, 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px #FFF;
  cursor: pointer;
}
.bottone-delete-conferma {
  padding: 0px 5px;
  border: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FF8181;
  cursor: pointer;
  color: #fff;
  transition: box-shadow 0.15s ease-in-out 0s;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px;
  border-radius: 0px;
}
.bottone-delete-conferma-nope {
  font-family: "Open Sans",sans-serif !important;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #90EE90;
  cursor: pointer;
  color: #006400;
  text-transform: uppercase;
}
.avatar-reported-focus {

}
.bottone-editstatus {
  font-family: "Open Sans",sans-serif !important;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 4px;
  border: 1px solid #C0C0C0;
  background: #E9E9E9 none repeat scroll 0% 0%;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8) inset, 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px #FFF;
  cursor: pointer;
  margin-left: 5px;
}
.report-focus-userstats {
  background-color: #F5F5F5;
  height: 195px;
  width: 420px;
  float: right;
  padding-right: 10px;
  min-height: 170px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.report-focus-userstats ul {
  float: right;
  width: 348px;
  list-style: none;
}
.report-focus-userstats a {
  color: #000;
  text-decoration: none !important;
}
.report-focus-stats {
  border-bottom: 1px dashed #808080;
  font-size: 20px;
  float: right;
  width: 400px;
}
.report-focus-stats img {
  float: left;
  width: 40px;
  margin-top: -5px;
  position: absolute;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.report-focus-stats span {
  padding-left: 50px;
}
